@model AirShopp.UI.Models.ViewModel.HomeViewModel
<div class="yScrollList">
    <div class="yScrollListIn">
        <div style="display:block;" class="yScrollListInList yScrollListInList1">
            <ul>
                @foreach (var hotProduct in Model.HotProducts)
                {
                    <li>
                        <a href="/Product/getProduct">
                            <img src="@hotProduct.PictureUrl" />
                            <p class="head-name pc-pa10" title="@hotProduct.ProductName">@hotProduct.ProductName.Substring(0, 20) ···</p>
                            <p><span class="price">￥@hotProduct.DiscountPrice</span><span class="discount">￥@hotProduct.Price</span></p>
                            <p class="label-default">@hotProduct.Discounts 折</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>