@Scripts.Render("~/bundles/AirShopp")
@{
    ViewBag.Title = "Index";
}
<br/>
<br/>
Please go to login page<a href="Admins\Login">Login</a>

<br/><span>@ViewBag.ErrorMessage</span>
<script>

</script>

