@model AirShopp.Domain.Admin
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login","Admins",FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="form-group" style="height:40px;margin-top:50px">
        <div class="row">
            @Html.LabelFor(m => m.Account, new { @class = "col-md-5 control-label", @style = "text-align:right", @for = "account" })
            <div class=" col-md-7">
                @Html.TextBoxFor(m => m.Account, new { @class = "form-control", placeholder = "请输入用户名", @style = "width:240px;", id = "account" })
                @Html.ValidationMessageFor(m => m.Account)
            </div>
        </div>
    </div>
    <div align="center">Collect from <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></div>

</body>

</html>






