@model AirShopp.UI.Models.ViewModel.ProductListViewModel
@{ var index = 0;}
@for (int i = 0; i < (Model.productList.Count() / 4); i++)
{
    <ul>
        @if (index < Model.productList.Count())
        {
            for (int j = 0; j < 4; j++)
            {
                <li>
                    <a href="/Product/getProduct?productId=@Model.productList[index].ProductId">
                        <img src="@Model.productList[index].ProductUrl" style="width:230px;height:259px;">
                        <p class="head-name">@Model.productList[index].ProductName.Substring(0, 15) </p>
                    </a>
                    <p><span class="price">￥@Model.productList[index].DiscountPrice</span><span class="discount">￥@Model.productList[index].Price</span></p>
                    <p class="head-futi"> <span>@Model.productList[index].CommentAmount 人评价）</span></p>
                    <p class="label-default">@Model.productList[index].Discounts 折</p>
                </li>
                index++;
            }
        }

    </ul>
}
