@model AirShopp.UI.Models.ViewModel.ProductListViewModel
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="pc-buying clearfix">
    <div class="time-list time-list-w fl">
        <div class="time-border-list clearfix" id="product_list">
          @Html.Partial("ChildList");
        </div>
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                @foreach (var pageNum in Model.pageBar)
                {
                    if (pageNum == Model.PageIndex)
                    {
                        @Html.ActionLink(pageNum.ToString(), "GetProducts", "Product", new { indexNum = pageNum, categoryId = Model.CategoryId, queryStr = Model.queryStr }, new { @class = "current", Target = "_self" });
                    }
                    else if (pageNum == 0)
                    {
                        <span class="pc-search-di">…</span>
                    }
                    else
                    {
                        @Html.ActionLink(pageNum.ToString(), "GetProducts", "Product", new { indexNum = pageNum, categoryId = Model.CategoryId, queryStr = Model.queryStr }, new { Target = "_self" });
                    }
                }
            </div>
        </div>
    </div>

</div>

