
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pc-buying clearfix">
    <div class="time-list time-list-w fl">
        <div class="time-border time-border-h time-border-list clearfix">
            <ul>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>

            </ul>
            <ul>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>
                <li>
                    <a href="#"> <img src="~/Content/img/pd/hot1.png"></a>
                    <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框</a> </p>
                    <p><span class="price">￥138.00</span><span class="discount">￥1000</span></p>
                    <p class="head-futi"><spn>好评度：90% </spn> <span>（100人评价）</span></p>
                    <p class="label-default">3.45折</p>
                </li>

            </ul>
        </div>
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                <a style="display:none" class="fl " href="#">上一页</a>
                <a href="#" class="current">1</a>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <span class="pc-search-di">…</span>
                <a href="javascript:;">1088</a>
                <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
            </div>
        </div>
    </div>
 
</div>

