@model AirShopp.UI.Models.ViewModel.ProductListViewModel
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="pc-buying clearfix">
    <div class="time-list time-list-w fl">
        <div class="time-border-list clearfix" id="product_list">
          @Html.Partial("ChildList");
        </div>
        <div class="clearfix" style="padding:30px 20px;">
            <div class="fr pc-search-g pc-search-gs">
                <a style="display:none" class="fl " href="#">上一页</a>
                @for (var i = 1; i <= 6; i++)
                {
                    if (i == 1)
                    {
                         @Ajax.ActionLink(i.ToString(), "GetPageProduct", new {Controller="Product", indexNum = i, categoryId = Model.CategoryId },new AjaxOptions { UpdateTargetId = "product_list", HttpMethod = "Get" })
                    }
                    else
                    {
                        @Ajax.ActionLink(i.ToString(), "GetPageProduct", new { Controller = "Product", indexNum = i, categoryId = Model.CategoryId}, new AjaxOptions { UpdateTargetId = "product_list", HttpMethod = "Get" })
                    }
                }
                <span class="pc-search-di">…</span>
                <a href="javascript:;">@Model.PageCount</a>
                <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
            </div>
        </div>
    </div>

</div>

