
@{
    ViewBag.Title = "ShopCart";
    Layout = "~/Views/Shared/_shopCartLayout.cshtml";
}
@Scripts.Render("~/bundles/AirShopp/Cart/js")
@Styles.Render("~/bundles/AirShopp/Cart/Css")
<section>
    <div class="pc-details">
        <div id="content">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="shopping">
                <tr>
                    <td class="title_1"><input id="allCheckBox" type="checkbox" value="" onclick="selectAll()" />全选</td>
                    <td class="title_2" colspan="2">店铺宝贝</td>
                    <td class="title_3">获积分</td>
                    <td class="title_4">单价（元）</td>
                    <td class="title_5">数量</td>
                    <td class="title_6">小计（元）</td>
                    <td class="title_7">操作</td>
                </tr>
                <tr>
                    <td colspan="8" class="line"></td>
                </tr>
               
                <tr id="product1">
                    <td class="cart_td_1"><input name="cartCheckBox" class="select3" type="checkbox" value="product1" onclick="selectSingle()" /></td>
                    <td class="cart_td_2"><img src="~/Content/img/cart/taobao_cart_01.jpg" alt="shopping" /></td>
                    <td class="cart_td_3">
                        <a href="#">日韩流行风时尚美眉最爱独特米字拼图金属坡跟公主靴子黑色</a><br />
                        颜色：棕色 尺码：37<br />
                        保障：<img src="~/Content/img/cart/taobao_icon_01.jpg" alt="icon" />
                    </td>
                    <td class="cart_td_4">5</td>
                    <td class="cart_td_5">138.00</td>
                    <td class="cart_td_6"><img src="~/Content/img/cart/taobao_minus.jpg" alt="minus" onclick="changeNum('num_1','minus')" class="hand" /> <input id="num_1" type="text" value="1" class="num_input" readonly="readonly" /> <img src="~/Content/img/cart/taobao_adding.jpg" alt="add" onclick="changeNum('num_1','add')" class="hand" /></td>
                    <td class="cart_td_7"></td>
                    <td class="cart_td_8"><a href="javascript:deleteRow('product1');">删除</a></td>
                </tr>

                <tr id="product2">
                    <td class="cart_td_1"><input name="cartCheckBox" class="select4" type="checkbox" value="product2" onclick="selectSingle()" /></td>
                    <td class="cart_td_2"><img src="~/Content/img/cart/taobao_cart_02.jpg" alt="shopping" /></td>
                    <td class="cart_td_3">
                        <a href="#">chanel/香奈尔/香奈尔炫亮魅力唇膏3.5g</a><br />
                        保障：<img src="~/Content/img/cart/taobao_icon_01.jpg" alt="icon" /> <img src="~/Content/img/cart/taobao_icon_02.jpg" alt="icon" />
                    </td>
                    <td class="cart_td_4">12</td>
                    <td class="cart_td_5">265.00</td>
                    <td class="cart_td_6"><img src="~/Content/img/cart/taobao_minus.jpg" alt="minus" onclick="changeNum('num_2','minus')" class="hand" /> <input id="num_2" type="text" value="1" class="num_input" readonly="readonly" /> <img src="~/Content/img/cart/taobao_adding.jpg" alt="add" onclick="changeNum('num_2','add')" class="hand" /></td>
                    <td class="cart_td_7"></td>
                    <td class="cart_td_8"><a href="javascript:deleteRow('product2');">删除</a></td>
                </tr>

                <tr id="product3">
                    <td class="cart_td_1"><input name="cartCheckBox" class="select5" type="checkbox" value="product3" onclick="selectSingle()" /></td>
                    <td class="cart_td_2"><img src="~/Content/img/cart/taobao_cart_03.jpg" alt="shopping" /></td>
                    <td class="cart_td_3">
                        <a href="#">蝶妆海晳蓝清滢粉底液10#（象牙白）</a><br />
                        保障：<img src="~/Content/img/cart/taobao_icon_01.jpg" alt="icon" /> <img src="~/Content/img/cart/taobao_icon_02.jpg" alt="icon" />
                    </td>
                    <td class="cart_td_4">3</td>
                    <td class="cart_td_5">85.00</td>
                    <td class="cart_td_6"><img src="~/Content/img/cart/taobao_minus.jpg" alt="minus" onclick="changeNum('num_3','minus')" class="hand" /> <input id="num_3" type="text" value="1" class="num_input" readonly="readonly" /> <img src="~/Content/img/cart/taobao_adding.jpg" alt="add" onclick="changeNum('num_3','add')" class="hand" /></td>
                    <td class="cart_td_7"></td>
                    <td class="cart_td_8"><a href="javascript:deleteRow('product3');">删除</a></td>
                </tr>

                <tr id="product4">
                    <td class="cart_td_1"><input name="cartCheckBox" class="select6" type="checkbox" value="product4" onclick="selectSingle()" /></td>
                    <td class="cart_td_2"><img src="~/Content/img/cart/taobao_cart_04.jpg" alt="shopping" /></td>
                    <td class="cart_td_3">
                        <a href="#">相宜促销专供 大S推荐 最好用的LilyBell化妆棉</a><br />
                        保障：<img src="~/Content/img/cart/taobao_icon_01.jpg" alt="icon" />
                    </td>
                    <td class="cart_td_4">12</td>
                    <td class="cart_td_5">12.00</td>
                    <td class="cart_td_6"><img src="~/Content/img/cart/taobao_minus.jpg" alt="minus" onclick="changeNum('num_4','minus')" class="hand" /> <input id="num_4" type="text" value="2" class="num_input" readonly="readonly" /> <img src="~/Content/img/cart/taobao_adding.jpg" alt="add" onclick="changeNum('num_4','add')" class="hand" /></td>
                    <td class="cart_td_7"></td>
                    <td class="cart_td_8"><a href="javascript:deleteRow('product4');">删除</a></td>
                </tr>
                <tr>
                    <td colspan="3"><a href="javascript:deleteSelectRow()"><img src="~/Content/img/cart/taobao_del.jpg" alt="delete" /></a></td>
                    <td colspan="5" class="shopend">
                        商品总价（不含运费）：<label id="total" class="yellow"></label> 元<br />
                        可获积分 <label class="yellow" id="integral"></label> 点<br />
                        @Html.ActionLink("立即购买", "CheckOrder", new { Controller = "Order"}, new { style = "color:#ea4949" })
                        @*<input name="" type="image" src="~/Content/img/cart/taobao_subtn.jpg" />*@
                    </td>
                </tr>
            </table>
           </div>
        <div class="page" style="padding:0 0 5px 0;">
            <div class="pagination">
                <a style="display:none" class="fl " href="#">上一页</a>
                <a href="#" class="current">1</a>
                <a href="javascript:;">2</a>
                <a href="javascript:;">3</a>
                <a href="javascript:;">4</a>
                <a href="javascript:;">5</a>
                <a href="javascript:;">6</a>
                <a href="javascript:;">7</a>
                <span class="pc-search-di">…</span>
                <a href="javascript:;">1088</a>
                <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
            </div>
        </div>
    </div>
</section>
