
@{
    ViewBag.Title = "ReturnRequest";
    Layout = "~/Views/Shared/_orderPageLayout.cshtml";

}
<div class="member-right fr">
    <div class="member-head">
        <div class="member-heels fl"><h2>退货申请</h2></div>
        <div class="member-backs member-icons fr"><a href="#">搜索</a></div>
        <div class="member-about fr"><input type="text" placeholder="商品名称/商品编号/订单编号"></div>
    </div>
    <div class="member-border">
        <div class="member-newly"><span><b>订单号：</b>20150703121215487</span> <span><b>订单状态：</b><i class="reds">已完成</i></span></div>
        <div class="member-cargo">
            <h3>收货人信息：</h3>
            <p>张子琪</p>
            <p>18801061166</p>
            <p>北京市海淀区中关村南街99号，幸福小区3号楼4门401</p>
        </div>
        <div class="member-cargo">
            <h3>商品信息：</h3>
            <p>悦商城自营店</p>
        </div>
        <div class="member-sheet clearfix">
            <ul>
                <li>
                    <div class="member-circle clearfix">
                        <div class="member-apply clearfix">
                            <div class="ap1 fl">
                                <span class="gr1"><a href="#"><img width="60" height="60" about="" title="" src="~/Content/img/pd/m1.png"></a></span>
                                <span class="gr2"><a href="#">红米Note2 标准版 白色 移动4G手机 双卡双待</a></span>
                                <span class="gr3">X1</span>
                            </div>
                            <div class="ap2 fl">@Html.ActionLink("查看订单", "OrderDetail", "Order", null, new { style = "color:#ea4949" })</div>
                            <div class="ap3 fl"><a href="#">申请退款</a> </div>
                        </div>
                        <div class="member-apply clearfix">
                            <div class="ap1 fl">
                                <span class="gr1"><a href="#"><img width="60" height="60" about="" title="" src="~/Content/img/pd/m2.png"></a></span>
                                <span class="gr2"><a href="#">红米Note2 标准版 白色 移动4G手机 双卡双待</a></span>
                                <span class="gr3">X1</span>
                            </div>
                            <div class="ap2 fl">@Html.ActionLink("查看订单", "OrderDetail", "Order", null, new { style = "color:#ea4949" })</div>
                            <div class="ap3 fl"><a href="#">申请退款</a> </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="member-modes clearfix">
            <p class="clearfix"><b>支付方式：</b><em>块钱</em></p>
            <p class="clearfix"><b>发票信息：</b><em>无发票</em></p>
        </div>
        <div class="member-modes clearfix">
            <p class="clearfix"><b>配送方式：</b><em> 顺丰快递</em></p>
        </div>
        <div class="member-modes clearfix">
            <p class="clearfix"><b>商品金额：</b><em> ￥4588.00</em></p>
            <p class="clearfix"><b>运费：</b><em> ￥20.00</em></p>
        </div>
        <div class="member-modes clearfix">
            <p class="clearfix"><b>订单合计金额：</b><em> 4602元</em></p>
        </div>
    </div>
</div>


